[run]
parallel = true
source =
    webob

[paths]
source =
    src/webob
    */site-packages/webob

[report]
show_missing = true
precision = 2
omit =
    src/webob/types.py
exclude_lines =
    pragma: no cover
    @overload
    if TYPE_CHECKING:
    if __name__ == .__main__.
    raise NotImplementedError

[html]
show_contexts = True
