WebOb.egg-info
*.pyc
*.pyo
*.swp
*~
TEST*
testenv
docs/_build/*
dist/
build/
.coverage
*.egg
glob:_coverage
Session.vim
*_coverage/**
*,cover
*_fixt.py
*$py.class
.tox/
coverage.xml
nosetests.xml
env*/
_website/
