graft src
graft docs
prune docs/_build
graft tests

include README.rst
include CHANGES.txt HISTORY.txt
include contributing.md RELEASING.rst
include pyproject.toml
include .coveragerc .flake8 tox.ini
include .readthedocs.yaml
include appveyor.yml rtd.txt

global-exclude __pycache__ *.py[cod]
global-exclude .DS_Store
